<div class="bg-blue-100">
  <section class="max-w-7xl mx-auto px-8 py-10">
    <h1 class="text-4xl font-extrabold text-center text-gray-900">Latest blog posts</h1>
    <div class="my-10 grid gap-6 lg:grid-cols-3">
      <div>
        <div class="bg-white rounded-xl shadow-2xl overflow-hidden">
          <img class="w-full h-56 object-cover object-center" src="https://images.unsplash.com/photo-1526791599284-e60fc3ea391b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2700&q=80" alt="Skateboard trick" />
          <div class="p-6">
            <h2 class="text-2xl font-bold text-gray-900 line-clamp-3">World's Top 7 Street Skateboarding Cities</h2>
            <p class="mt-3 text-gray-700 line-clamp-2 hover:line-clamp-none break-words">Fromfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff Barcelona's curvy Gaudi architecture to San Francisco's classic downhill rides, we've come up with the best 7 cities on the planet when it comes to skateboarding. Will your local spot make the list?</p>
            <a class="mt-4 inline-block px-4 py-1.5 bg-blue-300 rounded text-blue-900 font-semibold tracking-wide hover:bg-blue-800 hover:text-blue-100" href="#">Read more</a>
          </div>
        </div>
      </div>
      <div>
        <div class="bg-white rounded-xl shadow-2xl overflow-hidden">
          <img class="w-full h-56 object-cover object-center" src="https://images.unsplash.com/photo-1513462561678-a58d2b3b781d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2700&q=80" alt="Stakeboarding girl" />
          <div class="p-6">
            <h2 class="text-2xl font-bold text-gray-900 line-clamp-3">San Diego Boardriders Invitational Recap</h2>
            <p class="mt-3 text-gray-700 line-clamp-7 hover:line-clamp-none">Every summer, stoked and sunburnt San Diego longboard riders gather together and cruise through the beachfront parades of San Diego. This year was no exception, and with a record breaking heat wave on the menu, the swagger was hotter than ever. We already cannot wait for next year's edition of the event! Every summer, stoked and sunburnt San Diego longboard riders gather together and cruise through the beachfront parades of San Diego. This year was no exception, and with a record breaking heat wave on the menu, the swagger was hotter than ever. We already cannot wait for next year's edition of the event! Every summer, stoked and sunburnt San Diego longboard riders gather together and cruise through the beachfront parades of San Diego. This year was no exception, and with a record breaking heat wave on the menu, the swagger was hotter than ever. We already cannot wait for next year's edition of the event!</p>
            <a class="mt-4 inline-block px-4 py-1.5 bg-blue-300 rounded text-blue-900 font-semibold tracking-wide hover:bg-blue-800 hover:text-blue-100" href="#">Read more</a>
          </div>
        </div>
      </div>
      <div>
        <div class="bg-white rounded-xl shadow-2xl overflow-hidden">
          <img class="w-full h-56 object-cover object-center" src="https://images.unsplash.com/photo-1445251836269-d158eaa028a6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2702&q=80" alt="Skateboarding at sunset" />
          <div class="p-6">
            <h2 class="text-2xl font-bold text-gray-900 line-clamp-3">Why does skateboarding at sunset feels so good?</h2>
            <p class="mt-3 text-gray-700 line-clamp-3 hover:line-clamp-none">There is something about skateboarding at sunset. Just like surfing, things seem to just get better when the sun's coming down.</p>
            <a class="mt-4 inline-block px-4 py-1.5 bg-blue-300 rounded text-blue-900 font-semibold tracking-wide hover:bg-blue-800 hover:text-blue-100" href="#">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-white py-12">
    <h2 class="text-4xl font-extrabold text-center text-gray-900">About us</h2>
    <div class="mt-8 max-w-3xl mx-auto px-8 text-gray-700 text-lg space-y-4">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum, eligendi. Illo excepturi minus cumque recusandae eius! Doloremque, quidem. Nulla fugiat dolores dolorum consequatur nemo perferendis, et ipsam ad hic quidem?</p>

      <p>Incidunt architecto ullam accusamus id porro minima at corporis, laboriosam a sequi. Sapiente molestiae reprehenderit excepturi! Magnam eius eaque molestias?</p>
      <p>Quasi veniam porro cum voluptates in ullam ratione cumque tempora facilis tempore perferendis nam voluptas iure maiores quibusdam magnam blanditiis, sed odio. Corporis facere repudiandae cum quo qui repellendus velit aut sed! Voluptatibus quo vitae nobis, mollitia deleniti consequuntur! Facere unde culpa neque hic.</p>
    </div>
  </section>
</div>
