<div class="flex space-x-8">
  <div class="space-y-4">
    <h2 class="font-mono font-semibold text-white text-center">opacity</h2>
    <div
      class="h-24 w-24 bg-white opacity-25 rounded-lg shadow-xl hover:opacity-100 transition-opacity duration-500"
    ></div>
  </div>
  <div class="space-y-4">
    <h2 class="font-mono font-semibold text-white text-center">colors</h2>
    <div
      class="h-24 w-24 bg-white rounded-lg shadow-xl hover:bg-teal-600 transition-colors duration-500 ease-in-out"
    ></div>
  </div>
  <div class="space-y-4">
    <h2 class="font-mono font-semibold text-white text-center">transform</h2>
    <div class="h-24 w-24 bg-white rounded-lg shadow-xl transform hover:-translate-x-2 transition-transform duration-500 ease-in-out"></div>
  </div>
  <div class="space-y-4">
    <h2 class="font-mono font-semibold text-white text-center">default</h2>
    <div
      class="h-24 w-24 bg-white opacity-25 rounded-lg shadow-xl
      transform hover:opacity-100 hover:bg-teal-500 hover:-translate-x-2 transition duration-500 ease-in-out"
    ></div>
  </div>
  <div class="space-y-4">
    <h2 class="font-mono font-semibold text-white text-center">bulb</h2>
    <div
      class="h-24 w-24 rounded-full bg-white opacity-25 rounded-lg shadow-xl
      transform hover:opacity-100 hover:bg-yellow-300 hover:-translate-y-2 transition-colors transition-opacity duration-200 ease-in"
    ></div>
  </div>
  <div class="space-y-4">
    <div
      class="h-24 w-24 bg-white opacity-25 rounded-lg shadow-xl
      transform hover:translate-y-64 transition duration-600 ease-in-out delay-500"
    ></div>
  </div>
</div>
