<div class="flex space-x-8">
  <div class="space-y-4">
    <h2 class="text-center font-mono font-semibold text-white">opacity</h2>
    <div
      class="h-24 w-24 rounded-lg bg-white opacity-25 shadow-xl transition-opacity duration-500 hover:opacity-100"
    ></div>
  </div>
  <div class="space-y-4">
    <h2 class="text-center font-mono font-semibold text-white">colors</h2>
    <div
      class="h-24 w-24 rounded-lg bg-white shadow-xl transition-colors duration-500 ease-in-out hover:bg-teal-600"
    ></div>
  </div>
  <div class="space-y-4">
    <h2 class="text-center font-mono font-semibold text-white">transform</h2>
    <div
      class="h-24 w-24 transform rounded-lg bg-white shadow-xl transition-transform duration-500 ease-in-out hover:-translate-x-2"
    ></div>
  </div>
  <div class="space-y-4">
    <h2 class="text-center font-mono font-semibold text-white">default</h2>
    <div
      class="h-24 w-24 transform rounded-lg bg-white opacity-25 shadow-xl transition duration-500 ease-in-out hover:-translate-x-2 hover:bg-teal-500 hover:opacity-100"
    ></div>
  </div>
  <div class="space-y-4">
    <h2 class="text-center font-mono font-semibold text-white">bulb</h2>
    <div
      class="h-24 w-24 transform rounded-full rounded-lg bg-white opacity-25 shadow-xl transition-colors transition-opacity duration-200 ease-in hover:-translate-y-2 hover:bg-yellow-300 hover:opacity-100"
    ></div>
  </div>
  <div class="space-y-4">
    <div
      class="duration-600 h-24 w-24 transform rounded-lg bg-white opacity-25 shadow-xl transition delay-500 ease-in-out hover:translate-y-64"
    ></div>
  </div>
</div>
