<div class="mx-auto max-w-2xl">
  <div class="mb-6 h-4 w-40 rounded bg-indigo-400"></div>

  <div class="lg:space-x-15 flex items-center space-x-10">
    <div
      class="h-20 w-20 animate-bounce rounded-lg bg-white opacity-70 shadow-xl"
    ></div>
    <div
      class="h-20 w-20 animate-ping rounded-lg bg-yellow-200 opacity-70 shadow-xl"
    ></div>
    <div
      class="h-20 w-20 animate-pulse rounded-lg bg-pink-200 opacity-70 shadow-xl"
    ></div>
    <div
      class="h-20 w-20 animate-spin rounded-lg bg-green-200 opacity-70 shadow-xl"
    ></div>
    <div
      class="h-20 w-20 transform rounded-lg bg-green-200 opacity-50 shadow-xl transition duration-700 hover:scale-90 hover:bg-yellow-200"
    ></div>
  </div>
</div>
