<div class="max-w-2xl mx-auto">
  <div class="mb-6 bg-indigo-400 h-4 w-40 rounded"></div>

  <div class="flex items-center space-x-10 lg:space-x-15">
    <div class="h-20 w-20 bg-white opacity-70 rounded-lg shadow-xl animate-bounce"></div>
    <div class="h-20 w-20 bg-yellow-200 opacity-70 rounded-lg shadow-xl animate-ping"></div>
    <div class="h-20 w-20 bg-pink-200 opacity-70 rounded-lg shadow-xl animate-pulse"></div>
    <div class="h-20 w-20 bg-green-200 opacity-70 rounded-lg shadow-xl animate-spin"></div>
    <div
      class="h-20 w-20 bg-green-200 opacity-50 rounded-lg shadow-xl transform hover:scale-90 hover:bg-yellow-200 transition duration-700"></div>
  </div>
</div>
