<div
  class="flex min-h-screen flex-col items-center justify-center space-y-3 p-4"
>
  <h1 class="text-2xl font-extrabold text-white">Brightness</h1>
  <div class="flex space-x-3">
    <img
      class="h-48 w-48 rounded-lg shadow-xl brightness-50 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl brightness-75 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl brightness-100 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl brightness-150 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl brightness-200 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
  </div>
  <h1 class="text-2xl font-extrabold text-white">Saturation</h1>
  <div class="flex space-x-3">
    <img
      class="h-48 w-48 rounded-lg shadow-xl saturate-0 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl saturate-50 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl saturate-100 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl saturate-150 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl saturate-200 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
  </div>
  <h1 class="text-2xl font-extrabold text-white">Hue rotate</h1>
  <div class="flex space-x-3">
    <img
      class="h-48 w-48 rounded-lg shadow-xl hue-rotate-0 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl hue-rotate-30 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl hue-rotate-60 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl hue-rotate-90 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl hue-rotate-180 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
  </div>
  <h1 class="text-2xl font-extrabold text-white">Contrast</h1>
  <div class="flex space-x-3">
    <img
      class="h-48 w-48 rounded-lg shadow-xl contrast-50 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl contrast-75 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl contrast-100 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl contrast-150 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl contrast-200 filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
  </div>
  <h1 class="text-2xl font-extrabold text-white">
    Grayscale, sepia, invert, blur
  </h1>
  <div class="flex space-x-3">
    <img
      class="h-48 w-48 rounded-lg shadow-xl grayscale filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl sepia filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl invert filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl blur filter"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
  </div>
  <h1 class="text-2xl font-extrabold text-white">On hover</h1>
  <div class="flex space-x-3">
    <img
      class="h-48 w-48 rounded-lg shadow-xl grayscale filter transition duration-200 hover:grayscale-0"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl sepia filter transition duration-200 hover:sepia-0"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl invert filter transition duration-200 hover:invert-0"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
    <img
      class="h-48 w-48 rounded-lg shadow-xl blur filter transition duration-200 hover:blur-0"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt=""
    />
  </div>
  <div class="flex space-x-3 rounded-lg bg-amber-50">
    <img
      class="h-40 w-96 filter transition duration-300 hover:drop-shadow-md"
      src="assets/img/logo.svg"
      alt=""
    />
  </div>
  <h1 class="text-2xl font-extrabold text-white">Backdrop</h1>
  <div class="relative mx-16 mt-8 h-96 w-full">
    <div class="absolute h-full w-full py-8">
      <img
        class="h-80 w-full rounded-2xl object-cover filter"
        src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        alt=""
      />
    </div>
    <div class="relative flex h-full overflow-x-auto">
      <div class="w-full flex-shrink-0 rounded-2xl"></div>
      <div
        class="w-1/3 flex-shrink-0 rounded-2xl border-4 backdrop-blur-md backdrop-filter"
      ></div>
      <div class="w-full flex-shrink-0 rounded-2xl"></div>
    </div>
  </div>
</div>
