<div class="p-4 min-h-screen flex flex-col items-center justify-center  space-y-3">
  <h1 class="font-extrabold text-2xl text-white">Brightness</h1>
  <div class="flex space-x-3">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter brightness-50"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter brightness-75"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter brightness-100"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter brightness-150"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter brightness-200"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
  </div>
  <h1 class="font-extrabold text-2xl text-white">Saturation</h1>
  <div class="flex space-x-3">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter saturate-0"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter saturate-50"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter saturate-100"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter saturate-150"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter saturate-200"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
  </div>
  <h1 class="font-extrabold text-2xl text-white">Hue rotate</h1>
  <div class="flex space-x-3">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter hue-rotate-0"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter hue-rotate-30"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter hue-rotate-60"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter hue-rotate-90"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter hue-rotate-180"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
  </div>
  <h1 class="font-extrabold text-2xl text-white">Contrast</h1>
  <div class="flex space-x-3">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter contrast-50"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter contrast-75"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter contrast-100"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter contrast-150"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter contrast-200"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
  </div>
  <h1 class="font-extrabold text-2xl text-white">Grayscale, sepia, invert, blur</h1>
  <div class="flex space-x-3">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter grayscale"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter sepia"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter invert"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg filter blur"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
  </div>
  <h1 class="font-extrabold text-2xl text-white">On hover</h1>
  <div class="flex space-x-3">
    <img
      class="h-48 w-48 shadow-xl rounded-lg transition duration-200 filter grayscale hover:grayscale-0"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg transition duration-200 filter sepia hover:sepia-0"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg transition duration-200 filter invert hover:invert-0"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <img
      class="h-48 w-48 shadow-xl rounded-lg transition duration-200 filter blur hover:blur-0"
      src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
  </div>
  <div class="flex space-x-3 bg-amber-50 rounded-lg">
    <img
      class="h-40 w-96 filter transition duration-300 hover:drop-shadow-md"
      src="assets/img/logo.svg" alt="">
  </div>
  <h1 class="font-extrabold text-2xl text-white">Backdrop</h1>
  <div class="mx-16 mt-8 h-96 w-full relative">
    <div class="absolute w-full h-full py-8">
      <img
        class="h-80 w-full object-cover rounded-2xl filter"
        src="https://images.unsplash.com/photo-1663292575346-856c3032040c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        alt="">
    </div>
    <div class="relative h-full flex overflow-x-auto">
      <div class="flex-shrink-0 rounded-2xl w-full"></div>
      <div class="flex-shrink-0 rounded-2xl w-1/3 border-4 backdrop-filter backdrop-blur-md"></div>
      <div class="flex-shrink-0 rounded-2xl w-full"></div>
    </div>
  </div>
</div>
