<div class="mx-auto grid lg:grid-flow-col gap-8 lg:gap-16">
  <div class="bg-white p-6 space-y-6 rounded-lg shadow-2xl border transition transform hover:scale-105 focus-within:scale-125">
    <label for="player" class="font-semibold text-gray-800">Create player</label>
    <div class="flex space-x-2">
      <input
        id="player"
        class="appearance-none border-2 border-gray-400 px-2 py-1.5 rounded-md
        focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-opacity-25 focus:border-indigo-500"
        placeholder="Player name"
        type="text">
      <button class="px-4 py-2 bg-indigo-600 text-white font-black rounded-md font-mono text-xl leading-none
      focus:outline-none hover:bg-indigo-800 focus:ring-2 focus:ring-indigo-200 focus:bg-indigo-800 active:bg-indigo-300 active:text-indigo-800">
        +
      </button>
    </div>
  </div>
  <div class="bg-white p-6 space-y-6 rounded-lg shadow-2xl border transition transform hover:scale-105 focus-within:scale-125">
    <label for="team" class="font-semibold text-gray-800">Create team</label>
    <div class="flex space-x-2">
      <input
        id="team"
        class="appearance-none border-2 border-gray-400 px-2 py-1.5 rounded-md
        focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-opacity-25 focus:border-indigo-500"
        placeholder="Team name"
        type="text">
      <button class="px-4 py-2 bg-indigo-600 text-white font-black rounded-md font-mono text-xl leading-none
      focus:outline-none hover:bg-indigo-800 focus:ring-2 focus:ring-indigo-200 focus:bg-indigo-800 active:bg-indigo-300 active:text-indigo-800">
        +
      </button>
    </div>
  </div>
  <div class="bg-white p-6 space-y-6 rounded-lg shadow-2xl border transition transform hover:scale-105 focus-within:scale-125">
    <label for="league" class="font-semibold text-gray-800">Create league</label>
    <div class="flex space-x-2">
      <input
        id="league"
        class="appearance-none border-2 border-gray-400 px-2 py-1.5 rounded-md
        focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-opacity-25 focus:border-indigo-500"
        placeholder="League name"
        type="text">
      <button class="px-4 py-2 bg-indigo-600 text-white font-black rounded-md font-mono text-xl leading-none
      focus:outline-none hover:bg-indigo-800 focus:ring-2 focus:ring-indigo-200 focus:bg-indigo-800 active:bg-indigo-300 active:text-indigo-800">
        +
      </button>
    </div>
  </div>
</div>
