<ul class="bg-white rounded divide-y-2 divide-gray-400">
  <li class="p-6 space-y-2">
    <div class="h-3 w-48 bg-gray-300 rounded"></div>
    <div class="h-3 w-24 bg-gray-500 rounded"></div>
  </li>
  <li class="p-6 space-y-2">
    <div class="h-3 w-48 bg-gray-300 rounded"></div>
    <div class="h-3 w-24 bg-gray-500 rounded"></div>
  </li>
  <li class="p-6 space-y-2">
    <div class="h-3 w-48 bg-gray-300 rounded"></div>
    <div class="h-3 w-24 bg-gray-500 rounded"></div>
  </li>
  <li class="p-6 space-y-2">
    <div class="h-3 w-48 bg-gray-300 rounded"></div>
    <div class="h-3 w-24 bg-gray-500 rounded"></div>
  </li>
</ul>

<ul class="mt-2 flex bg-white rounded divide-x-2 divide-gray-400 divide-dotted">
  <li class="p-6 flex-1 space-y-2">
    <div class="h-3 w-48 bg-gray-300 rounded"></div>
    <div class="h-3 w-24 bg-gray-500 rounded"></div>
  </li>
  <li class="p-6 flex-1 space-y-2">
    <div class="h-3 w-48 bg-gray-300 rounded"></div>
    <div class="h-3 w-24 bg-gray-500 rounded"></div>
  </li>
  <li class="p-6 flex-1 space-y-2">
    <div class="h-3 w-48 bg-gray-300 rounded"></div>
    <div class="h-3 w-24 bg-gray-500 rounded"></div>
  </li>
  <li class="p-6 flex-1 space-y-2">
    <div class="h-3 w-48 bg-gray-300 rounded"></div>
    <div class="h-3 w-24 bg-gray-500 rounded"></div>
  </li>
</ul>
