<ul class="divide-y-2 divide-gray-400 rounded bg-white">
  <li class="space-y-2 p-6">
    <div class="h-3 w-48 rounded bg-gray-300"></div>
    <div class="h-3 w-24 rounded bg-gray-500"></div>
  </li>
  <li class="space-y-2 p-6">
    <div class="h-3 w-48 rounded bg-gray-300"></div>
    <div class="h-3 w-24 rounded bg-gray-500"></div>
  </li>
  <li class="space-y-2 p-6">
    <div class="h-3 w-48 rounded bg-gray-300"></div>
    <div class="h-3 w-24 rounded bg-gray-500"></div>
  </li>
  <li class="space-y-2 p-6">
    <div class="h-3 w-48 rounded bg-gray-300"></div>
    <div class="h-3 w-24 rounded bg-gray-500"></div>
  </li>
</ul>

<ul class="mt-2 flex divide-x-2 divide-dotted divide-gray-400 rounded bg-white">
  <li class="flex-1 space-y-2 p-6">
    <div class="h-3 w-48 rounded bg-gray-300"></div>
    <div class="h-3 w-24 rounded bg-gray-500"></div>
  </li>
  <li class="flex-1 space-y-2 p-6">
    <div class="h-3 w-48 rounded bg-gray-300"></div>
    <div class="h-3 w-24 rounded bg-gray-500"></div>
  </li>
  <li class="flex-1 space-y-2 p-6">
    <div class="h-3 w-48 rounded bg-gray-300"></div>
    <div class="h-3 w-24 rounded bg-gray-500"></div>
  </li>
  <li class="flex-1 space-y-2 p-6">
    <div class="h-3 w-48 rounded bg-gray-300"></div>
    <div class="h-3 w-24 rounded bg-gray-500"></div>
  </li>
</ul>
