<div class="mx-auto max-w-2xl rounded bg-white p-8 shadow-2xl">
  <h2
    class="pb-5 text-5xl font-extrabold leading-none text-gray-900 lg:text-6xl"
  >
    Tailwind stories
  </h2>

  <ul
    class="flex space-x-6 overflow-y-hidden overflow-x-scroll whitespace-nowrap"
  >
    <li class="flex flex-shrink-0 flex-col items-center space-y-1">
      <div
        class="relative rounded-full bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1"
      >
        <a
          class="block transform rounded-full bg-white p-1 transition hover:-rotate-6"
          href="#"
        >
          <img
            class="h-24 w-24 rounded-full"
            src="https://placekitten.com/g/200/200"
            alt="avatar"
          />
        </a>
        <button class="create-story-button">+</button>
      </div>
      <a href="#">You</a>
    </li>
    <li class="flex flex-shrink-0 flex-col items-center space-y-1">
      <div
        class="rounded-full bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1"
      >
        <a
          class="block transform rounded-full bg-white p-1 transition hover:-rotate-6"
          href="#"
        >
          <img
            class="h-24 w-24 rounded-full"
            src="https://placekitten.com/g/201/200"
            alt="avatar"
          />
        </a>
      </div>
      <a href="#">Chu Chu</a>
    </li>
    <li class="flex flex-shrink-0 flex-col items-center space-y-1">
      <div
        class="rounded-full bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1"
      >
        <a
          class="block transform rounded-full bg-white p-1 transition hover:-rotate-6"
          href="#"
        >
          <img
            class="h-24 w-24 rounded-full"
            src="https://placekitten.com/g/205/200"
            alt="avatar"
          />
        </a>
      </div>
      <a href="#">Na Na</a>
    </li>
    <li class="flex flex-shrink-0 flex-col items-center space-y-1">
      <div
        class="rounded-full bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1"
      >
        <a
          class="block transform rounded-full bg-white p-1 transition hover:-rotate-6"
          href="#"
        >
          <img
            class="h-24 w-24 rounded-full"
            src="https://placekitten.com/g/203/200"
            alt="avatar"
          />
        </a>
      </div>
      <a href="#">Stephany Meow</a>
    </li>
    <li class="flex flex-shrink-0 flex-col items-center space-y-1">
      <div
        class="rounded-full bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1"
      >
        <a
          class="block transform rounded-full bg-white p-1 transition hover:-rotate-6"
          href="#"
        >
          <img
            class="h-24 w-24 rounded-full"
            src="https://placekitten.com/g/203/200"
            alt="avatar"
          />
        </a>
      </div>
      <a href="#">Stephany Meow</a>
    </li>
    <li class="flex flex-shrink-0 flex-col items-center space-y-1">
      <div
        class="rounded-full bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1"
      >
        <a
          class="block transform rounded-full bg-white p-1 transition hover:-rotate-6"
          href="#"
        >
          <img
            class="h-24 w-24 rounded-full"
            src="https://placekitten.com/g/203/200"
            alt="avatar"
          />
        </a>
      </div>
      <a href="#">Stephany Meow</a>
    </li>
  </ul>
</div>
