<div class="max-w-2xl mx-auto p-8 bg-white rounded shadow-2xl">
  <h2 class="pb-5 text-5xl lg:text-6xl leading-none font-extrabold text-gray-900">Tailwind stories</h2>

  <ul class="flex space-x-6 overflow-x-scroll overflow-y-hidden whitespace-nowrap">
    <li class="flex flex-shrink-0 flex-col items-center space-y-1">
      <div class="relative bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
        <a class="block bg-white p-1 rounded-full transform hover:-rotate-6 transition" href="#">
          <img class="h-24 w-24 rounded-full" src="https://placekitten.com/g/200/200" alt="avatar">
        </a>
        <button class="create-story-button">+</button>
      </div>
      <a href="#">You</a>
    </li>
    <li class="flex flex-shrink-0 flex-col items-center space-y-1">
      <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
        <a class="block bg-white p-1 rounded-full transform hover:-rotate-6 transition" href="#">
          <img class="h-24 w-24 rounded-full" src="https://placekitten.com/g/201/200" alt="avatar">
        </a>
      </div>
      <a href="#">Chu Chu</a>
    </li>
    <li class="flex flex-shrink-0 flex-col items-center space-y-1">
      <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
        <a class="block bg-white p-1 rounded-full transform hover:-rotate-6 transition" href="#">
          <img class="h-24 w-24 rounded-full" src="https://placekitten.com/g/205/200" alt="avatar">
        </a>
      </div>
      <a href="#">Na Na</a>
    </li>
    <li class="flex flex-shrink-0 flex-col items-center space-y-1">
      <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
        <a class="block bg-white p-1 rounded-full transform hover:-rotate-6 transition" href="#">
          <img class="h-24 w-24 rounded-full" src="https://placekitten.com/g/203/200" alt="avatar">
        </a>
      </div>
      <a href="#">Stephany Meow</a>
    </li>
    <li class="flex flex-shrink-0 flex-col items-center space-y-1">
      <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
        <a class="block bg-white p-1 rounded-full transform hover:-rotate-6 transition" href="#">
          <img class="h-24 w-24 rounded-full" src="https://placekitten.com/g/203/200" alt="avatar">
        </a>
      </div>
      <a href="#">Stephany Meow</a>
    </li>
    <li class="flex flex-shrink-0 flex-col items-center space-y-1">
      <div class="bg-gradient-to-tr from-yellow-400 to-fuchsia-600 p-1 rounded-full">
        <a class="block bg-white p-1 rounded-full transform hover:-rotate-6 transition" href="#">
          <img class="h-24 w-24 rounded-full" src="https://placekitten.com/g/203/200" alt="avatar">
        </a>
      </div>
      <a href="#">Stephany Meow</a>
    </li>
  </ul>
</div>
