<!--<div class="animate-bounce">
  <div class="w-24 h-24 bg-white rounded shadow-2xl"></div>
</div>-->

<div class="w-32 h-32 relative">
  <div class="h-full flex justify-center items-center
 border-2 rounded-full border-blue-900 border-opacity-50 border-dotted
 skew-y-6 skew-x-12">
    <div class="absolute inset-1.5 animate-spin">
      <div class="transform ">🌎</div>
    </div>
  </div>
  <div class="absolute inset-0 text-center flex justify-center items-center animate-spin">
    <span class="text-3xl">☀</span>
  </div>
</div>

<div class="mt-20 animate-wiggle">
  <div class="w-32 h-32 rounded bg-white"></div>
</div>

