<!--<div class="animate-bounce">
  <div class="w-24 h-24 bg-white rounded shadow-2xl"></div>
</div>-->

<div class="relative h-32 w-32">
  <div
    class="flex h-full skew-y-6 skew-x-12 items-center justify-center rounded-full border-2 border-dotted border-blue-900 border-opacity-50"
  >
    <div class="absolute inset-1.5 animate-spin">
      <div class="transform">🌎</div>
    </div>
  </div>
  <div
    class="absolute inset-0 flex animate-spin items-center justify-center text-center"
  >
    <span class="text-3xl">☀</span>
  </div>
</div>

<div class="mt-20 animate-wiggle">
  <div class="h-32 w-32 rounded bg-white"></div>
</div>
