<div class="flex place-items-center">
  <div class="space-x-3">
    <button
      class="reusable-button button--success focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-25 focus:ring-offset-2 focus:ring-offset-gray-800"
    >
      Button 1
    </button>
    <button
      class="reusable-button button--warning focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 focus:ring-offset-4 focus:ring-offset-gray-800"
    >
      Button 2
    </button>
    <button
      class="reusable-button button--danger focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75 focus:ring-offset-8 focus:ring-offset-gray-800"
    >
      Button 3
    </button>
  </div>
</div>

<div class="flex place-items-center pt-5">
  <div class="space-x-3">
    <div
      class="mx-auto flex h-40 w-32 items-end overflow-hidden rounded-lg border bg-white shadow-2xl"
    >
      <!--ring-inset - outline всредині кнопки-->
      <button
        class="reusable-button button--danger w-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-400"
      >
        Button 3
      </button>
    </div>
  </div>
</div>
