<div class="space-y-2">
    <img
      class="object-cover shadow-lg rounded-lg aspect-square sm:aspect-[3/1] lg:aspect-[2/1]"
      src="https://images.unsplash.com/photo-1672739604434-2bd3e4f111fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
      alt="">
  <div class="flex-1 p-4 rounded-lg shadow-xl bg-indigo-600">
      <iframe
        class="w-full aspect-video"
        src="https://www.youtube.com/embed/M7lc1UVf-VE&origin=https://example.com"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
    </iframe>
  </div>
</div>


