<div class="space-y-2">
  <img
    class="aspect-square rounded-lg object-cover shadow-lg sm:aspect-[3/1] lg:aspect-[2/1]"
    src="https://images.unsplash.com/photo-1672739604434-2bd3e4f111fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
    alt=""
  />
  <div class="flex-1 rounded-lg bg-indigo-600 p-4 shadow-xl">
    <iframe
      class="aspect-video w-full"
      src="https://www.youtube.com/embed/M7lc1UVf-VE&origin=https://example.com"
      allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
  </div>
</div>

<div class="snap-x snap-proximity">
  <div class="snap-center">
    <img
      src="https://images.unsplash.com/photo-1604999565976-8913ad2ddb7c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80"
    />
  </div>
  <div class="snap-center">
    <img
      src="https://images.unsplash.com/photo-1540206351-d6465b3ac5c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80"
    />
  </div>
  <div class="snap-center">
    <img
      src="https://images.unsplash.com/photo-1622890806166-111d7f6c7c97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80"
    />
  </div>
  <div class="snap-center">
    <img
      src="https://images.unsplash.com/photo-1590523277543-a94d2e4eb00b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80"
    />
  </div>
  <div class="snap-center">
    <img
      src="https://images.unsplash.com/photo-1575424909138-46b05e5919ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=320&h=160&q=80"
    />
  </div>
</div>
